@import './fonts.css';
@import '../icomoon/style.css';

body {
  color: #fff;
  overflow-x: hidden;
  margin: 0px;
}

ul,
li {
  list-style: none;
  padding: 0;
}

/*styles navbar*/
.header {
  background: #ec008c;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  position: relative;
}

.header__logo {
  display: none;
}

.header__logo > img {
  padding: 24px;
  display: block;
  max-width: 50px;
  max-height: 40px;
  width: auto;
  height: auto;
}

/*if parent has class open show logo*/
.open > .header__logo {
  display: block;
}

.header__button {
  background-image: url('../images/toggle-open.svg');
  background-position: center;
  background-size: 80px;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  padding: 30px 36px;
}

.open > nav > .header__button {
  background-image: url('../images/toggle-close.svg');
}
/*position navbar*/
.header__nav > ul {
  position: absolute;
  background: white;
  top: 60px;
}

.header-nav > ul > li:first-child {
  margin-top: 12px;
}

/*styles menu item*/
li[role='menuitem'],
li[role='link'] {
  line-height: 48px;
}

li[role='menuitem'] > a,
li[role='link'] > a {
  padding-left: 24px;
  display: block;
}

li[role='menuitem'] > a:hover,
li[role='link'] > a:hover {
  background: #eee;
}

/*main menu items*/
ul > li[role='menuitem'] > a,
ul > li[role='link'] > a {
  text-decoration: none;
  color: black;
  font-family: 'HUGEAvantGardeBold', sans-serif;
  font-size: 21px;
  cursor: pointer;
}

/*secundary menu items*/
li > ul > li[role='menuitem'] > a,
li > ul > li[role='link'] > a {
  font-family: Galaxie, sans-serif;
  font-size: 16px;
  position: relative;
  cursor: pointer;
}

li[role='menuitem']:before {
  font-family: icomoon;
  content: '\e900';
  color: #ec008c;
  position: absolute;
  display: inline-block;
  vertical-align: middle;
  right: 5%;
}

li[role='menuitem'].open:before {
  font-family: icomoon;
  content: '\e901';
  color: #ec008c;
  position: absolute;
  display: inline-block;
  vertical-align: middle;
  right: 5%;
}

/*on hover secunday menu items*/
li > ul[role='menu'] > li[role='menuitem'] > a:hover,
li > ul[role='menu'] > li[role='link'] > a:hover {
  color: #ec008c;
}

li[role='menuitem'].open > ul {
  display: block;
}

li[role='menuitem'] > ul {
  display: none;
}

/*position push mobile*/

.header__nav > .menu-size {
  width: 80%;
  height: 100vh;
  z-index: 1000;
}

@media screen and (max-width: 950px) and (min-width: 768px) {
  ul > li[role='menuitem'] > a,
  ul > li[role='link'] > a {
    font-size: 13px;
  }
}

@media screen and (max-width: 768px) {
  .content--push {
    position: relative;
    left: 0;
  }

  .open ~ .content--pushed {
    left: 80%;
  }

  .animation {
    transition: all 0.3s ease;
  }

  nav > .menu-close {
    left: -80%;
  }

  .open > nav > .menu-open {
    left: 0px;
  }

  .header__nav > ul::after {
    content: '© 2014 Huge. All Rights Reserved.';
    bottom: 5%;
    left: 24px;
    position: absolute;
    font-size: 12px;
    line-height: 16px;
    font-family: helvetica;
    color: black;
  }
}

/*styles contet*/

/*.open ~ main > .content__mask,*/
.content__mask.open {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.content {
  min-height: 100vh;
}

.content__article {
  color: black;
  margin: 0 24px;
}

.content__headline {
  font-size: 44px;
  line-height: 48px;
  margin: 50px 0;
  text-align: center;
  font-family: 'HUGEAvantGardeBold', sans-serif;
}

.content__copy {
  font-family: 'Galaxie', sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: black;
}

/*styles desktop*/

@media screen and (min-width: 768px) {
  .header__nav > .menu-size {
    height: initial;
  }
  .menu-open {
    display: none;
  }

  .header {
    justify-content: flex-start;
  }
  .header__button {
    display: none;
  }

  .header__logo {
    display: block;
  }

  .header__logo > img {
    max-width: 60px;
    max-height: 24px;
    padding-left: 24px;
    padding-right: 48px;
  }

  .header__nav {
    position: relative;
  }

  .header__nav > ul {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    background: transparent;
  }

  .header__nav > ul > li:first-child {
    margin-top: 0px;
  }

  ul > li > ul {
    /*display: block;*/
    position: absolute;
    top: 100%;
    background: white;
  }

  li[role='menuitem'],
  li[role='link'] {
    line-height: 60px;
  }

  li[role='menuitem']:before {
    content: none;
  }

  li[role='menuitem'].open:before {
    content: none;
  }

  ul > li[role='menuitem'] > a,
  ul > li[role='link'] > a {
    color: white;
  }

  li[role='menuitem'] > a,
  li[role='link'] > a {
    padding: 0 24px;
  }

  li[role='menuitem'] > a:hover,
  li[role='link'] > a:hover {
    background: #eee;
    color: #ec008c;
  }

  li > ul > li[role='menuitem'] > a,
  li > ul > li[role='link'] > a {
    color: black;
  }

  /*on hover secunday menu items*/
  li > ul[role='menu'] > li[role='menuitem'] > a:hover,
  li > ul[role='menu'] > li[role='link'] > a:hover {
    color: #ec008c;
  }

  .header__nav > ul::after {
    content: none;
  }

  .content {
    position: relative;
  }

  .content__headline {
    font-size: 120px;
    line-height: 132px;
    text-align: center;
    font-family: 'HUGEAvantGardeBold', sans-serif;
    position: absolute;
    color: white;
    top: 25%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    word-wrap: break-word;
  }

  .content__article {
    margin-top: 60px;
  }

  .content__copy {
    font-family: 'Galaxie', sans-serif;
    font-size: 24px;
    line-height: 36px;
    max-width: 968px;
    margin: 0 auto;
  }

  .content__hero {
    height: 640px;
    position: relative;
  }
}
